.flex-container{
    display: flex;
    flex-wrap:wrap;
    // flex-direction:row;
    // border: 1px solid black;
    // height: 200px;

   // align-items: flex-start;
   // justify-content:space-around;
}

@media (max-width:300px){
    .flex-container{
        flex-direction: column;
    }
}

.flex-item{
   width: 200px;
    height: 150px;
    margin-top:5px;
    border: 1px solid yellow;
    flex-basis:0;
    flex-grow:1;

     background: red;
     color : white;
     font-weight: bold;
     font-size: 3em;
    text-align:center;
    // line-height:150px;


}

.item1{
   // align-self: stretch;
   //flex-grow: 3;
   
}

.item2{
  //  align-self: center;
  // flex-grow:1;
  // flex-shrink: 5px
  
  
}

.item3{
  //  align-self: flex-end;
   // order:-1
}